{% if request.user.is_authenticated %}
    <div class="login-message">
        Seja bem vindo&#40;a&#41;, {{ request.user.username}}.<br>
        <form method="POST" action="{% url 'authors:logout' %}" class="inlineform">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button class="plaintextbutton" type="submit">Clique aqui</button>
            para sair.
        </form>
        <br>
        <a href="{% url 'authors:dashboard' %}">Clique aqui</a> para ver suas receitas.
    </div>            
{% endif %}