<div class="search-container">
    <div class="container">
        <form action="{% url 'recipes:search' %}" method="GET" class="search-form">
            <input 
                type="search" name="s"
                class="search-input" value="{{ search_term }}" 
                required
                placeholder="Digite o que você está procurando..."
            >
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>