{% extends 'global/base.html' %}

{% block title %}Dashboard Recipe{% endblock title %}

{% block content %}

    <div class="main-content center container title-form">

        <h1 class="title-form">Dashboard Recipe</h1>

        {% include 'global/partials/messages.html' %}
        {% include 'author/pages/partials/login_message.html' %}

        <a class="a-see-recipe" href="{% url 'authors:dashboard' %}">
            <i class="fas fa-list"></i>
            <span class="see-recipes-text">Ver todas as receitas</span>
        </a>
        <div class="left">
            {% include 'global/partials/form.html' %}
        </div>
    
    </div>

{% endblock content %}